name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/dropwave/dropwawe

            # Force update from GitHub
            git fetch --all
            git reset --hard origin/main

            # Load environment variables safely
            set -a
            source .env
            set +a

            # Install dependencies
            npm install

            # Prisma
            npx prisma generate
            npx prisma migrate deploy

            # Build
            npm run build

            # Restart pm2
            pm2 restart all
